# Database
DATABASE_URL=mysql+pymysql://root:password@localhost/campaign_management_db

# Security
SECRET_KEY=my_supper_man_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
